#box {
    height: 500px;
    width: 200px;
    border: 5px solid gray;
    border-radius: 12px;
    margin-top: 96px;
    margin-left: 250px;
}

#light1 {
    color: red;
    height: 100px;
    width: 100px;
    border: 5px solid;
    border-radius: 50%;
    background-color: red;
    margin: 35px 40px 20px 40px;

}

#light2 {
    color: green;
    background-color: green;
    height: 100px;
    width: 100px;
    border: 5px solid;
    border-radius: 50%;
    margin: 50px 40px 20px 40px;

}

#light3 {
    color: yellow;
    background-color: yellow;
    height: 100px;
    width: 100px;
    border: 5px solid;
    border-radius: 50%;
    margin: 50px 40px 50px 40px;
}