h1{
    text-align: center;
}

#div1{
    text-align: center;
    color:yellow;
    height: 100px;
    width: 100px;
    background-image: url("/pexels-simon-berger-1266810.jpg");
    background-size:cover;
    position: fixed;
    right: 10px;
    top: 100px;
    /* z-index: 1; */
}